{% extends "bootstrap/base.html" %}
{% block title %}{{config.get('TITLE')}}{% endblock %}

{% block content %}
  {{ super() }}
  <table class="table table-striped">
    <tbody>
      {% for col in data %}
        <tr>
          <td>{{ col["id"] }}</td>
          <td>{{ col["cl"] }}</td>
          <td>{{ col["nm"] }}</td>
          <td>{{ col["v%"] }}</td>
          <td>{{ col["pr"] }}</td>
          <td>{{ col["pm"] }}</td>
          <td>{{ col["qt"] }}</td>
          <td>{{ col["d%"] }}</td>
          <td>{{ col["y%"] }}</td>
          <td>{{ col["pl"] }}</td>
          <td>{{ col["vp"] }}</td>
          <td>{{ col["ps"] }}</td>
          <td>{{ col["va"] }}</td>
          <td>{{ col["rs"] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <table class="table table-striped">
    <tbody>
      {% for col in result %}
        <tr>
          <td>{{ col["rf"] }}</td>
          <td>{{ col["fi"] }}</td>
          <td>{{ col["fd"] }}</td>
          <td>{{ col["ac"] }}</td>
          <td>{{ col["ad"] }}</td>
          <td>{{ col["ea"] }}</td>
          <td>{{ col["bt"] }}</td>
          <td>{{ col["tt"] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.msg(placeholder="Enviar") }}
  </form>
{% endblock %}

