{% extends "bootstrap/base.html" %}
{% block title %}{{config.get('TITLE')}}{% endblock %}


{% block navbar %}
  <div class="navbar navbar-fixed-top">
    <!-- ... -->
  </div>
{% endblock %}

{% block content %}
  <table class="table table-striped">
    <thead>
      <tr>
        {% for key in data[0].keys() %}
          <th>{{ key }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for col in data %}
        <tr>
          <td>{{ col["id"] }}</td>
          <td>{{ col["cl"] }}</td>
          <td>{{ col["nm"] }}</td>
          <td>{{ "%0.2f"|format(col["v%"]) }}%</td>
          <td>{{ "%0.2f"|format(col["pr"]) }}</td>
          <td>{{ "%0.2f"|format(col["pm"]) }}</td>
          <td>{{ "%0.2f"|format(col["qt"]) }}</td>
          <td>{{ "%0.2f"|format(col["d%"]|default(0, true)) }}%</td>
          <td>{{ "%0.2f"|format(col["y%"]|default(0, true)) }}%</td>
          <td>{{ col["pl"]|default("", true) }}</td>
          <td>{{ col["vp"]|default("", true) }}</td>
          <td>{{ "%0.2f"|format(col["ps"]) }}</td>
          <td>{{ "%0.2f"|format(col["va"]) }}</td>
          <td>{{ "%0.2f"|format(col["rs"]) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.sync(class="btn btn-primary rounded-pill px-3") }}
  </form>
{% endblock %}
