{% extends "bootstrap/base.html" %}
{% block title %}{{config.get('TITLE')}}{% endblock %}

{% block navbar %}
  <div class="navbar navbar-fixed-top">
    <!-- ... -->
  </div>
{% endblock %}

{% block content %}
  <div class="container">
  <h1>{{config.get('TITLE')}}</h1>

    <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.sync(class="btn btn-primary rounded-pill px-3") }}
    </form>

    <div class="jumbotron">
      <ul class="list-group">
        {% for asset in assets %}
          <li class="list-group-item">
            <a>
              {{ asset.id }} 
              {{ asset.cl }} 
              {{ asset.nm }} 
              {{ "%0.2f"|format( asset.pr )}} 
              {{ "%0.2f"|format( asset.pm )}} 
              {{ "%0.2f"|format( asset.qt )}} 
              {{ "%0.2f"|format(asset.dv|default(0, true)) }} 
              {{ "%0.2f"|format(asset.pl|default(0, true)) }} 
              {{ "%0.2f"|format(asset.vp|default(0, true)) }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
{% endblock %}
