{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
	<div class="navbar navbar-fixed-top">
		<!-- ... -->
	</div>
{% endblock %}

{% block content %}
	<table class="table table-dark table-striped">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">NOME</th>
				<th scope="col">CIDADE</th>
				<th scope="col">BAIRRO</th>
				<th scope="col">DESCRIÇÃO</th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					{% for c in row %}
						<td>{{ c }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
