[default]

[development]
SQLALCHEMY_DATABASE_URI = "postgresql://postgres:41234@127.0.0.1:5432/booking"
SQLALCHEMY_TRACK_MODIFICATIONS = "False"
TITLE = "Intranet"
SECRET_KEY = "um-nome-bem-seguro"
EXTENSIONS = [
    "intranet.ext.appearance:init_app",
    "intranet.ext.database:init_app",
    "intranet.ext.commands:init_app",
    "intranet.blueprints.webui:init_app",
]

[production]
