<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>TAPI - TravaPON</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script type="text/javascript">
 $(document).ready(function() {
        $('form').submit(function (e) {
            var url = "{{ url_for('ajaxPP') }}"; // send the form data here.
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(), // serializes the form's elements.
                dataType:'json',
                success: function (data) {
                    var conteudo = '<tr><td>'+data.result[0][0]+'</td><td>'+data.result[0][1]+'</td><td>'+data.result[0][2]+'</td><td>'+data.result[0][3]+'</td><td>'+data.result[0][4]+'</td><td>'+data.result[0][5]+"</td><td><a href='#'>"+data.result[1]+'</a></td></tr>';
                      $("#myTable tbody").append(conteudo);                      
                      $('input[name="search-input"]').val("");
                      $('input[name="search-input"]').focus();
                }
            });
            e.preventDefault(); // block the traditional submission of the form.
        });
        
        //
        $(document).on("click", "#myTable tbody tr td", function() { 
           
        });
        
        //Create a AJAX (CCR Connection)
        $(document).on("click", "#myTable a", function() { 
          alert($(this).text()); 
        });
        
        // Atualizar com o codigo de refresh conexão!
       
        $("#botao2").click(function(){
          $('#myTable tbody').empty()
        });
      }); 
</script>
<style type="text/css">
  table tr td {
    height: 60px;
  }
</style>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row" style="width:100%">
      <div class="one-half column" style="margin-top: 5%; width: 100%">
        <form name='form' method="POST">
        	<input type="text" name="search-input" class="form-control" placeholder="Usuário ou Contrato" >  
          <button type="submit" class="btn btn-primary" id="botao">Buscar</button>
          <button type="button" class="btn btn-primary" id="botao2">Limpar Tabela</button>
        </form>
       <table id="myTable" class="table" style="width:100%">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Bairro</th>
            <th scope="col">Logradouro</th>
            <th scope="col">Número</th>
            <th scope="col">Usuário</th>
            <th scope="col">Contrato</th>            
            <th scope="col">Status</th>            
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
  		 <!-- <span id=result></span> -->
      </div>

    </div>
  </div>

  <div id="container" style="display:none;">
    
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>


