<!DOCTYPE html>
<html>
<head>
	<title>TAble</title>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script type="javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

</head>
<body>
<div class="container">
	<div class="row">
		<h2 class="text-center">Apenas uma noite!</h2>
		<div class="table-responsive">          
		<form>
			<input type="text" name="contratotxt"> <button>Buscar</button> <br>
		</form>
			<table id="#table" class="table table-bordered table-hover">
			<thead>
			  <tr>        
				<th>-</th>
				<th>Cliente</th>
				<th>Cidade</th>
				<th>Bairro</th>
				<th>Rua</th>
				<th>Nº</th>
				<th>Conexão</th>
				
			  </tr>
			</thead>
			<tbody>
	
			</tbody>
		  </table>
		</div>
	</div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('form').submit(function (e) {
      var url = "{{ url_for('ajaxPage') }}"; // send the form data here.
      $.ajax({
        type: "POST",
        url: url,
        data: $('form').serialize(), // serializes the form's elements.
        dataType:'json',        
        success: function (data) {
                      switch(data.dados[0][5]){
                        case 'S':
                          var situacao = "Cancelado";
                          break;
                        case 'N':
                          var situacao = "Ativo";
                          break;    
                      };                        
                    
                      if(data.conexao=='Connected'){
                        var img = '<img src="static/yes.png" width="23px" height="23px" id="conectado">';

                      }else if(data.conexao=='Disconnected'){
                        var img = '<img src="static/delete.png" width="20px" height="20px" id="n-conectado">';
                      }  

                      var conteudo = '<tr> <td><input type=checkbox name='+data.dados[0][6]+'></td> <td>'+data.dados[0][0]+'</td> <td>'+data.dados[0][1]+'</td> <td>'+data.dados[0][2]+'</td> <td>'+data.dados[0][3]+'</td> <td>'+data.dados[0][4]+'</td> <td>'+img+'</td> </tr>';
                      
                       $("table tbody").append(conteudo);
                       
                      
                      var contrato = data.dados[0][6];
                      
                $(document).on("click", '#lbl-refresh', function() { 
                   var url2 = "{{ url_for('ajaxConexao') }}";
                   img = '<img src="static/loader.gif" width="20px" height="20px" id="loading">';
                   $('#lbl-statusconexao').html(img);
                  $.ajax({
                     type: "POST",
                      url: url2,
                      data: {'contrato':contrato}, 
                      dataType:'json',        
                      success: function (data) {
                       if(data.status=='Connected'){
                        var img = '<img src="static/yes.png" width="23px" height="23px" id="conectado">';
                        $('#lbl-statusconexao').html(img);
                       }else if(data.status=='Disconnected'){
                        var img = '<img src="static/delete.png" width="20px" height="20px" id="n-conectado">';
                        $('#lbl-statusconexao').html(img);
                      }
                    }
                  });
                });
                                          
              }
            });
            e.preventDefault(); // block the traditional submission of the form.

            $(document).on("click",'#log',function(){
              alert('console');
            });
        });
        
        // Atualizar com o codigo de refresh conexão!
        
        
      }); 
  </script>
</body>
</html>
