{% extends "_layout.html" %}

{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Overmind</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home')}}">Home</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('support')}}">Suporte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('backoffice')}}">BackOffice <span class="sr-only">(current)</span></a>
        <li class="nav-item">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block body %}
  <table id="table_os" class="display">
    <thead>
      <tr>
        <th>ID</th>
        <th>DEFEITO</th>
        <th>TIPO</th>
        <th>GERADA</th>
        <th>CLIENTE</th>
        <th>CIDADE</th>
        <th>BAIRRO</th>
        <th>LOGRADOURO</th>
        <th>NUM</th>
        <th>OPERADOR</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
          <td>{{ row.column2 }}</td>
          <td>{{ row.column3 }}</td>
          <td>{{ row.column4 }}</td>
          <td>{{ row.column5 }}</td>
          <td>{{ row.column6 }}</td>
          <td>{{ row.column9 }}</td>
          <td>{{ row.column10 }}</td>
          <td>{{ row.column11 }}</td>
          <td>{{ row.column12 }}</td>
          <td>{{ row.column13 }}</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>ID</th>
        <th>DEFEITO</th>
        <th>TIPO</th>
        <th>GERADA</th>
        <th>CLIENTE</th>
        <th>CIDADE</th>
        <th>BAIRRO</th>
        <th>LOGRADOURO</th>
        <th>NUM</th>
        <th>OPERADOR</th>
      </tr>
    </tfoot>
  </table>
{% endblock %}

{% block footer %}
  <!-- table -->
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/datatable.css') }}">
  <script type=text/javascript src="{{ url_for('static', filename='js/datatable.js') }}"></script>
{% endblock %}
