{% extends "_layout.html" %}

{% block title %}{% endblock %}
    
{% block body %}
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/style.css')}}">

  <form id='menu' action='' method='POST'>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-warning">
          <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}

    {{ form.csrf_token }}
    <div id='login' class="form-group">
      {{ form.username(class="form-control", placeholder="usuário") }}

      {% if form.errors.username %}
        <div class="alert alert-danger" role="alert">
          <ul>
            {% for e in form.errors.username %}
              <li>{{ e }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>

    <div id='senha' class="form-group">
      {{ form.password(class="form-control", placeholder="senha") }}

      {% if form.errors.password %}
        <div class="alert alert-danger" role="alert">
          <ul>
            {% for e in form.errors.password %}
              <li>{{ e }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>

    <button id='entrar' type="submit" class="btn btn-default">Entrar</button>
  </form>
{% endblock %}