{% extends "_layout.html" %}

{% block title %} / Suporte / os{% endblock %}

{% block head %}
  <!-- table -->
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='suporte/table.css') }}">
  <script type=text/javascript src="{{ url_for('static', filename='suporte/table.js') }}"></script>
  <!-- button -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='suporte/button.css') }}">
{% endblock %}

{% block navbar %}
  <li><a href="{{ url_for('home')}}">Home</a></li>
  <li><a href="{{ url_for('suporte')}}">Suporte</a></li>
{% endblock %}

{% block content %}
  <table id="table_os" class="display">
    <thead>
      <tr>
        <th>ID</th><th>TOMADOR</th><th>TIPO</th><th>GERADA</th><th>CLIENTE</th><th>DISTRIBUIDA</th><th>CIDADE</th><th>BAIRRO</th><th>LOGRADOURO</th><th>DEFEITO</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
          <td>{{ row.column2 }}</td><td>{{ row.column3 }}</td><td>{{ row.column4 }}</td><td>{{ row.column5 }}</td><td>{{ row.column6 }}</td><td>{{ row.column8 }}</td><td>{{ row.column9 }}</td><td>{{ row.column10 }}</td><td>{{ row.column11 }}</td><td>{{ row.column12 }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  
  <form method='POST'>
    <button class="btn btn-default btn-round-lg btn-lg">Planilha</button>
  </form>
{% endblock %}